.jumbotron {
	
	
	background-image: url("imagenes/portadados.jpg");
	background-size: cover;
	background-color: yellow;
	color: black;
	
    
	
}

.buton { background-color: white; color: black; }

footer {
padding: 10px 10px 0 10px;
background-color: yellow
margin-bottom:0px;
margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
    margin-top: 10px;

}

.btn-lg {
	width: 100%;
	border-radius: 0px
}

.footer-address-icon{
	padding-right: 10px;

}


